@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(224,222,218);
    /* background-image:url('real.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}